<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="icon" type="image/png" href="/static/image/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal folio</title>
</head>
<body>

    <div class="page">

        <!-- Header -->
        <header class ="header">
            <div class="container">

                <div class="header-inner">
                    <nav class="header-nav">
                        <a class="header-nav-link active" href="/">Home</a>
                        <a class="header-nav-link" href="/rover/">Rover</a>
                        <a class="header-nav-link" href="/space/">Space</a>
                        <a class="header-nav-link" href="/contacts/">Contacts</a>
                    </nav>
                </div>

                 <div class="header-brand">
                        PERSEVERANCE
                 </div>

            </div><!-- /.container -->
        </header>


        <!-- Main -->
        <div class="background-content">
            <div class="container">

                <div class="content">

                    <div class="content-header">
                        <h2 class="subtitle">Hello, this is a</h2>
                        <h1 class="title"> Web application <span>Perseverance</span></h1>
                    </div>
                    <div class="text">
                        <p>    Our app will give you a unique opportunity to see and explore Mars through the
                               eyes of scientific researchers. By interacting with NASA's API, we will be able
                               to retrieve the latest photos taken by the Perseverance rover and make them available
                               to you.
                        </p>
                        <p>    We have tried to make our web application as accessible as possible for all users.
                               It will be adapted for use on various devices, including computers, tablets and smartphones.

                        </p>

                    </div>
                 <!--   <a class="btn" href="/contacts/">Contact me</a> -->
                </div>
            </div>
        </div>



        <!-- Main -->

            <div class="container">
                <div class="content-two">

                    <div class="text">
                        <h1 class="title"> Brief instructions</h1>
                        <p>
                            Rover tab - additionally, on the space tab, you can look
                            at pictures from space and facts about them.

                        </p>
                        <p>
                            Space tab - on the space tab you can get photos related to space
                            and interesting facts about them
                        </p>
                        <p>
                            Contacts tab - on the contacts tab you can contact the creator of this project!
                        </p>
                        <p>
                            This project may be in the testing stage, without your help we will not make it better!
                        </p>
                        <p>
                            <br>
                            <br>
                        </p>
                        <h1 class="title"> Thanks for your<span> feedback! </span></h1>

                    </div>
                 <!--   <a class="btn" href="/contacts/">Contact me</a> -->
                </div>
            </div>


        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="contacts">
                    <a class="contacts-link"  href="https://github.com/SergeyCicada">GitHub</a>
                    <a class="contacts-link" href="mailto:SergeyKelme@yandex.ru">SergeyKelme@yandex.ru</a>
                </div>
            </div>
        </footer>

    </div><!-- /.page -->

</body>
</html>