<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="icon" type="image/png" href="/static/image/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal folio</title>
</head>
<body>

    <div class="page">

        <!-- Header -->
        <header class ="header">
            <div class="container">

                <div class="header-inner">
                    <nav class="header-nav">
                        <a class="header-nav-link" href="/">Home</a>
                        <a class="header-nav-link" href="/rover/">Rover</a>
                        <a class="header-nav-link active" href="/space/">Space</a>
                        <a class="header-nav-link" href="/contacts/">Contacts</a>
                    </nav>
                </div>

                 <div class="header-brand">
                        SPACE
                 </div>

            </div><!-- /.container -->
        </header>


        <!-- Main -->
            <div class="container">



                {% for i in photos_space %}
                    <div class="content">
                        <div class="text">
                            <p>{{i['explanation']}}</p>
                        </div>
                    </div>

                    <img class="imgsize" src = {{i['url']}}>
                {% endfor %}
            </div>



        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="contacts">
                    <a class="contacts-link"  href="https://github.com/SergeyCicada">GitHub</a>
                    <a class="contacts-link" href="mailto:SergeyKelme@yandex.ru">SergeyKelme@yandex.ru</a>
                </div>
            </div>
        </footer>

    </div><!-- /.page -->
